<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <% library.forEach(function(media) { %>
        <div class="media-card">
            <div class="media-image">
                <img src="<%= media.image %>">
            </div>
            <div class="media-details">
                <p><%= media.title %></p>
                <p><%= media.release %></p>
                <p><%= media.description.substr(0, Math.min(200, media.description.length)) %>...</p>
                <% if (media.type == 'movie') { %>
                <p>Rating: <%= media.mpaaRating %></p>
                <p>Runtime: <%= media.runtime %> minutes</p>
                <% } %>
                <% if (media.type == 'tvshow') { %>
                <p>Rating: <%= media.tvRating %></p>
                <p>Episode Length: <%= media.episodeLength %> minutes</p>
                <% } %>

                <p>Owned On: <%= media.location %></p>
            </div>
        </div>
    <% }); %>
  </body>
</html>
